<template name="merchantPage">
	<div class="panel">
		<dl class="dl-horizontal">
			<dt>Website</dt>
			<dd><a href="{{merchant.url}}" target="_blank" title="">{{merchant.url}}</a></dd>

			{{#if merchant.open}}
			<dt>Spree Title</dt>
			<dd>{{merchant._id}} #{{openSpree.counter}}</dd>

			<dt>Spree Cap</dt>
			<dd>{{merchant.cap}}</dd>
			<dt>Closing Date</dt>
			<dd>{{formatDate openSpree.endDate}}</dd>
			<dt>Status</dt>
			<dd>{{openSpree.status}}</dd>
			{{else}}
			There are no open Sprees for this merchant.
			{{/if}}
		</dl>
	</div>
	
	<div class="panel">
		<div class="panel-heading">My Shopping Cart</div>
		{{> orderList}}
	</div>
</template>