<template name="orderList">
	<legend>Shopping Cart</legend>
	
	{{#if myOrder.items}}

	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Size</th>
				<th>Colour</th>
				<th>Price</th>
				<th>SGD</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			{{#each myOrder.items}}
			{{> orderItem}}
			{{/each}}
		</tbody>
	</table>
	
	<div class="row">
		<div class="offset8">
			{{> payment1 myOrder}}
		</div>
	</div>
	

	{{else}}
	You have not placed any orders in this spree.
	{{/if}}
</template>