<template name="userCart">
	{{#each orders}}

	<div class="row-fluid">
		<div class="box span8">
			<div class="box-header">
				<h2>
					{{#getSpree spree}}
					{{merchant}} #{{counter}}
					<!-- End Date: {{dateFormat endDate}} -->
					{{/getSpree}} 
				</h2>
				{{#if stage 1}}
				<button class="close" style="margin-top:6px;margin-right:10px;">&times;</button>
				{{/if}}
			</div>
			<div class="box-content">

				<span>ID: <span class="label label-info">{{_id}}</span></span>
				<span class="label label-success pull-right">{{getStatus}}</span>
				<br><br>
				<table class="table table-striped table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<th>Quantity</th>
							<th>Name</th>
							<th>Size</th>
							<th>Colour</th>
							<th>SGD</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						{{#each items}}
						<tr>
							<td>{{quantity}}x</td>
							<td><a href="{{url}}" target="_blank" title="">{{name}}</a></td>
							<td>{{size}}</td>
							<td>{{color}}</td>
							<td>${{SGD}}</td>
							<td>
								<a class="btn btn-danger delete-item"><i class="icon-trash icon-white"></i></a>
							</td>
						</tr>

						{{/each}}
					</tbody>
				</table>
				<small>Last Update: {{dateFormat lastUpdate format="Do MMMM, HH:mm"}}</small>
			</div>
		</div>
		{{#if stage 1}}
		<div class="box span4">
			<div class="box-header">
				<h2>Payment 1 </h2>
			</div>
			<div class="box-content">
				{{> payment1 this}}
			</div>
		</div>
		{{/if}}

		{{#if stage 6}}
		<div class="box span4">
			<div class="box-header">
				<h2>Payment 2 </h2>
			</div>
			<div class="box-content">
				{{> payment2 this}}
			</div>
		</div>		
		{{/if}}
	</div>

	{{else}}

	<h4>You have not placed any orders. <a data-toggle="modal" data-target="#howto">start shopping now!</a>
	</h4>

	{{/each}}
</template>




<template name="userProfile">
	<form class="form-horizontal offset1 span8">
		<fieldset>

			<!-- Form Name -->
			<legend>Edit Profile</legend>

			<!-- Profile Picture
 			<div>
				<img src="" class="img-polaroid">
			</div> -->
			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="profilename">Name</label>
				<div class="controls">
					<input id="profilename" name="profilename" type="text" class="input-block-level" required value="{{currentUser.profile.name}}">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="postalcode">Postal Code</label>
				<div class="controls">
					<input id="postalcode" name="postalcode" type="text" placeholder="648921" class="input-block-level" required value="{{currentUser.profile.postalcode}}">
					<input name="street" type="hidden">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="unitnumber">Unit Number</label>
				<div class="controls">
					<input id="unitnumber" name="unitnumber" type="text" placeholder="#03-12" class="input-block-level" value="{{currentUser.profile.unitnumber}}">
				</div>
			</div>

			<!-- Textarea -->
			<div class="control-group">
				<label class="control-label" for="address">Full Shipping Address</label>
				<div class="controls">                     
					<textarea rows="4" id="address" name="address" class="input-block-level" required>{{currentUser.profile.address}}</textarea>
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="phone">Phone Number</label>
				<div class="controls">
					<input id="phone" name="phone" type="tel" autocomplete="on" placeholder="8288 8398" class="input-block-level" required="" value="{{currentUser.profile.phone}}">

				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					<input id="email" name="profile-email" type="email" placeholder="jane@gmail.com" class="input-block-level" required="" value="{{currentUser.profile.email}}">

				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="bank">Bank Account</label>
				<div class="controls">
					<input id="bank" name="bank" type="text" placeholder="optional" class="input-block-level" value="{{currentUser.profile.bank}}">
				</div>
			</div>

			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="singlebutton"></label>
				<div class="controls">
					<button name="singlebutton" class="btn btn-default offset6 span6">Save</button>
				</div>
			</div>
		</fieldset>
	</form>
</template>