<template name="exchange">
  <li class="nav-header hidden-phone">Exchange Rates</li>
  <table class="table table-condensed hidden-phone">
    <thead>
<!--       <tr>
        <th>Currency</th>
        <th>Rate</th>
      </tr> -->
    </thead>
    <tbody>
      {{#each rates}}
      <tr>
        <td>{{currency}}</td>

        {{#if isInRole 'admin'}}
        <!-- <td>{{rate}}</td> -->
        <td><input class="input-small" type="number" name="rate" step="any" value="{{rate}}" min="0" required></td>
        {{else}}
        <td>{{rate}}</td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>