<template name="navbar">
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="/">yantingspree</a>

			<div class="nav-collapse collapse">
				<ul class="nav">
					{{#if loggedIn}}
					<li><a href="{{userPagePath}}">My Orders</a></li>
					{{/if}}

					<li><a href="/admin">Admin Panel</a></li>
					<li><a href="/admin2">Admin Custom</a></li>
				</ul>
				{{loginButtons}}
			</div>
		</div>
	</div>
</template>